doctype html
html
  head
    title Hemant Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar.top
        

        ul#list
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Contact ]
            li #[a(href="/") MyProjects ]

    

    section#introSection 
          div Welcome to Hemant's Dance Academy
          div.small  Eat, Sleep, Dance and Repeat
    
    section#ourmission 
            h3 Our Mission
            div.card 
              div.goals
                h3 Dance Perfection
              div.goals
                h3 Dance The way you Like
              div.goals
                h3 Expert Teaching 
              div.goals
                h3 Excellent Results


    section#sponsorSection 
            h3 Our Sponsors 
    
    
    
    footer#myfooter 
        | All right reserved for hemanttopiwala212


    script
      include ../static/index.js